html {
  height: 100%;
  width: 100%;
}

/* 
Colours
/* CSS HEX 
--prussian-blue: #003049ff;
--fire-engine-red: #d62828ff;
--orange-wheel: #f77f00ff;
--xanthous: #fcbf49ff;
--vanilla: #eae2b7ff;
*/
/* CSS HSL 
--prussian-blue: hsla(201, 100%, 14%, 1);
--fire-engine-red: hsla(0, 69%, 50%, 1);
--orange-wheel: hsla(31, 100%, 48%, 1);
--xanthous: hsla(40, 97%, 64%, 1);
--vanilla: hsla(51, 55%, 82%, 1);
*/